    <div class="event">
      <div class="content">
        <div class="summary">
            <strong><%= message.user.username.capitalize %></strong>: <%= message.body %>
        </div>
      </div>
    </div>